.vs/
MarvelHeros/MarvelHeros/bin
MarvelHeros/MarvelHeros/obj
MarvelHeros/MarvelHeros.Android/bin
MarvelHeros/MarvelHeros.Android/obj
MarvelHeros/MarvelHeros.iOS/bin
MarvelHeros/MarvelHeros.iOS/obj
MarvelHeros/MarvelHeros.UWP/bin
MarvelHeros/MarvelHeros.UWP/obj
